<?xml version="1.0" encoding="UTF-8"?>
<p:beans default-autowire="byType" xmlns:p="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans spring-beans-3.2.xsd ">

	<!-- <p:bean class="hibernate.Customer" name="customer"></p:bean> -->
	
  <!--   LineItem Beans 
    <p:bean id="lineItem1" class="hibernate.LineItem">
        <p:property name="qty" value="2"/>
        <p:property name="item" ref="item1"/>
    </p:bean>

    <p:bean id="lineItem2" class="hibernate.LineItem">
        <p:property name="qty" value="5"/>
        <p:property name="item" ref="item2"/>
    </p:bean> -->
    
    <p:bean class="spring.OrderStatusService"></p:bean>
    
     <p:bean class="spring.CustomerDAOImpl">
    </p:bean>
    
    <p:bean class="hibernate.Customer">
    </p:bean>
    
    <p:bean class="hibernate.Orders">
    </p:bean>
    
     <p:bean class="hibernate.Items">
    </p:bean>
    
     <p:bean class="hibernate.LineItem">
    </p:bean>
    
    <p:bean class="spring.OrderDAOImpl">
    </p:bean>
    
    <p:bean class="spring.ItemDAOImpl">
    </p:bean>
    
    <p:bean class="spring.LineItemDAOImpl">
    </p:bean>
    
	 <p:bean class="spring.OrderServiceImpl">
    </p:bean>
    
     <p:bean class="spring.CustomerServiceImpl">
    </p:bean>
    
     <p:bean class="spring.InventoryServiceImpl">
    </p:bean>
	<!-- <p:bean class="spring.CustomerDAOImpl"></p:bean>
	<p:bean class="spring.OrderDAOImpl"></p:bean> -->
	<!-- <p:bean class="hibernate.LineItem" id="lt" name="lineitem"></p:bean>
	
	<p:bean class="hibernate.Orders" name="orders"> -->
		 <!-- <p:property name="lineItems">
            <p:list>
                <p:ref bean="lineItem1"/>
                <p:ref bean="lineItem2"/>
            </p:list>
        </p:property> -->
	<!-- </p:bean> -->
	
	<p:bean autowire="no" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<p:property name="annotatedClasses">
			<p:list>
				<p:value>hibernate.Customer</p:value>
				<p:value>hibernate.Orders</p:value>
				<p:value>hibernate.LineItem</p:value>
				<p:value>hibernate.Items</p:value>
				
			</p:list>
		</p:property>
		<p:property name="dataSource" ref="ds"></p:property>
		<p:property name="hibernateProperties">
			<p:props>
				<p:prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</p:prop>
				<p:prop key="hibernate.hbm2ddl.auto">update</p:prop>
				<p:prop key="hibernate.show_sql">true</p:prop>
			</p:props>
		</p:property>	
	</p:bean>

	
	
	<p:bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<p:property name="driverClassName" value="org.postgresql.Driver"></p:property>
		<p:property name="url" value="jdbc:postgresql://localhost:5432/training"></p:property>
		<p:property name="username" value="postgres"></p:property>
		<p:property name="password" value="postgres"></p:property>
	</p:bean>
</p:beans>
